<%= form_for :category,controller:"admin/categories",action:"update" do |f| %>



    <p>
      <%= f.label :name%><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>