
<%= form_for @category,url:{action: "update",id:@category.id} do |f| %>

    <p>
      <%= f.label :name%><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>