
<!--新时代的form表单，成功解决构造函数需要是hash的问题。"category"=>{"name"=>"123"}-->
<%= form_for :category,url: admin_categories_path do |f| %>

    <p>
      <%= f.label :name%><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit %>
    </p>

 <% end %>