<div class="col-sm-8 blog-main">
  <table class="table table-bordered table-hover" >
    <tr>
      <th>编号</th>
      <th>目录名</th>
      <th>编辑</th>
      <th>删除</th>
    </tr>

    <% @categories.each  do|category| %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.name %></td>

          <td><%= link_to 'Edit', controller:"admin/categories",action:"edit",id:category.id ,'data-no-turbolink' => true%></td>

          <td><%= link_to 'Delete',admin_categories_path(category),:method => :delete,:remote => true,:confirm => "are you sure?"%></td>

        </tr>
    <% end %>
  </table>
</div>